.tableTop{
    display: flex;
    border-bottom:1px solid #ccc;
}
.tableTop span{
    padding:0 10px;
    display: flex;
    align-items:center;/*垂直居中*/
    justify-content: center;/*水平居中*/
    font-size: 16px;
    height:50px;
    line-height: 50px;
}
.videoList{
    display: flex;
}
.videoList span{
    display: flex;
    align-items:center;/*垂直居中*/
    justify-content: center;/*水平居中*/
    padding:0 10px;
    font-size: 14px;
}
.videoList span video{
    width: 100%;
}
.listLi{
    padding:10px 0;
    border-bottom: 1px solid #ccc;
}
.maintable{
    margin-top: 20px;
}
.deviceList li{
    display: inline-block;
    margin:10px;
    position: relative;
}
.deviceList li p{
    text-align: center;
    line-height: 30px;
    height: 30px;
}
.deviceList li i{
    position: absolute;
    color:#ff0000;
    font-size:32px;
    top:-10px;
    right: -10px;
    cursor: pointer;
}