<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body class="layui-layout-body loginBody">
    <div class="loginBox">

        <div class="loginMain">
            <div class="box_top">
                <img id="logoImage" class="layui-inline image" style="width:117px;height: 92px" src="img/redshare.jpg"/>
                <div class="layui-inline" style="margin-left: 15px;">
                    <p class="" id="Ltitle"></p>
                    <span>物流快递跟踪</span>
                </div>
            </div>
            <div class="layui-inline" style="padding: 0;border: none; margin: 65px auto;display: block;width: 450px">
                <form action="/auth/login" method="post" class="layui-form" id="loginForm">
                    <div class="layui-form-item loginInput">
                        <!--<input class="input" type="text" placeholder="登陆账号" name="loginName" id="loginName"/>-->
                        <img class="layui-inline" src="../img/loginImg/user.png">
                        <input class="layui-inline" type="text" name="username" placeholder="登陆账号"/>
                    </div>
                    <div class="layui-form-item loginInput">
                        <!--<input class="input" type="password" id="pwd" placeholder="登陆密码" name="pwd"/>-->
                        <img class="layui-inline" src="../img/loginImg/password.png">
                        <input class="layui-inline" type="password" name="password" placeholder="登陆密码"/>
                    </div>
                    <!--<div class="codeInput">
                        <input type="text" placeholder="验证码" class="layui-inline"/>
                        <img src="" class="layui-inline"/>
                    </div>-->
                    <div class="loginBtn">
                        <!--<a class="layui-btn layui-btn-normal" id="login">登录</a>-->
                        <!--<a class="layui-btn layui-btn-normal" id="login">登录</a>-->
                        <input class="layui-btn layui-btn-normal" type="submit" value="登录" style="width: 100%"/>
                        <a class="layui-btn layui-inline">注册</a>
                    </div>
                    <div><p style="height: auto;margin-top: 10px; color:#fff;" id="tips" th:text="${msg}"></p></div>
                </form>
            </div>

        </div>
    </div>
</body>
<script src="layui/layui.js"></script>
<script src="../js/jquery-2.0.2.min.js"></script>
<script src="../js/jquery.qrcode.min.js"></script>
<script src="../js/main.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>