<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="../../css/order/index.css"/>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/jquery.page.css"/>
    <style>
        .layui-form-item .layui-inline{
            margin: 0;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <script type="text/javascript" src="js/nav.js"></script>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">

                <li class="layui-nav-item"><a href="">物流记录</a></li>
                <li class="layui-nav-item"><a href="">导入记录</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="left: 0;bottom:0">
        <!-- 内容主体区域 -->
        <iframe id="main" name="main" src="view/trackingrecord.html" width="100%" height="100%" frameborder=0></iframe>
    </div>
</div>
<script src="../../layui/layui.js"></script>
<script src="../../js/jquery-2.0.2.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/jquery.page.js"></script>
<script src="../../js/zh.js"></script>



<script>
    //JavaScript代码区域
    layui.config({
        base: '../../js/modules/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use('address'); //加载入口
    layui.use(['element','form', 'laydate', 'layer', 'address'], function() {
        var element = layui.element
            , form = layui.form
            , laydate = layui.laydate
            , layer = layui.layer
            , $ = layui.jquery
            , picker = layui.picker
            , address = layui.address();
        laydate.render({
            elem: '#test1'
            , type: 'datetime'
            , range: true
        });

        $("#pageNum").val(1);

    });



</script>
</div>
</body>
</html>