/*数字切换*/
.digits{
    display:inline-block;
    height:30px;
    margin-top: 10px;
    margin-left: 56px;
}

.digits i{
    background:url(../../img/numbers.png) no-repeat;
    display:inline-block;
    float:left;
    height:30px;
    width:18px;
}

.digits b{
    background:url(../../img/numbers.png) no-repeat 0 -398px;
    display:inline-block;
    float:left;
    height:30px;
    width:10px;
}

/*内容部分*/
body{
    overflow: auto;
    width: 1700px;
}
.layui-layout-admin{
    background:#f2f2f2;
    padding:10px;
}
.statTop, .statmain{
    background: #fff;
    -moz-box-shadow: 2px 2px 10px #888888;;
    box-shadow: 2px 2px 10px #888888;
    padding: 0 10px 10px;
}
.stattitle{
    overflow: hidden;
    font-size: 16px;
    color: #000000;
    line-height: 44px;
    border-bottom: 1px solid #ccc;
}
.stattitle p:first-child{
    float:left;
}
.stattitle p:last-child{
    float:right;
}
.statTop ul{
    display: flex;
}
.statTop .count{
    overflow:hidden;
    margin-top: 10px;
}
.statTop .count img{
    margin-top:10px;
    margin-right: 10px;
}
.statTop .count div{
    margin-top: 4px;
}
.statTop .count img, .statTop .count div{
    float:left;
}
.statTop .count div p{
    font-size:24px;
    color:#000000;
}
.statTop .count span{
    font-size: 16px;
    color:#999999;
}
.statmain{
    margin-top: 30px;
    overflow: hidden;
}
.statleft{
    width:100%;
}
.statright{
    float:left;
    width:590px;
    padding: 0 10px;
}
.fall{

}
.fall .title{
    font-size:18px;
    text-align: center;
    line-height: 30px;
}
.fall ul{
    overflow: hidden;
}
.fall ul li{
    margin-bottom: 20px;
    overflow: hidden;
}
.fall ul li canvas{
    display: block;
    margin: 0 auto;
}
.fall ul li div p{
    font-size:32px;
    display: block;
    text-align: center;
}
.fall ul li div span{
    font-size: 14px;
    color:#999999;
    display: block;
    text-align: center;
}
.numbertable{
    float: left;
    width: 1054px;
    padding-left: 42px;
    border-left: 1px solid #ccc;
}
.numbertable table{
    width: 100%;
    font-size: 18px;
}
.numbertable table th{
    font-weight: inherit;
    line-height: 50px;
    border-bottom:1px solid #ccc;
}
.numbertable table td{
    text-align: center;
}
.numbertable table td p{
    line-height: 60px;
    font-size: 18px;
}
.level{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.level ul{
    padding:0 30px 20px;
}
.level .leveltitle{
    color:#000!important;
    border-bottom: 1px solid #ccc;
    line-height: 44px;
    font-size: 18px;
}
.leveltitle p:first-child, .level ul li label{
    float:left;
}
.leveltitle p:last-child, .level ul li span{
    float: right;
}
.level ul li{
    overflow: hidden;
    padding:0 20px;
}
.level ul li span, .level ul li label{
    font-size: 18px;
    color:#666666;
    height:54px;
    line-height: 54px;
}
.statmain{
    padding: 0;
}
.thirdData{
    padding-bottom:20px;
    border-bottom:1px solid #ccc;
}