.home-admin {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.mapdata img {
    width: 600px;
}

.mapdata {
    position: absolute;
    left: 10px;
}

.echartdata img {
    width: 200px;
    height: 300px;
}

.echartdata {
    padding: 0 10px;
    float: left;
    margin-left: 620px
}

.echartdata .layui-form-label {
    width: 60px;
    padding-left: 0;
}